@import './variables';

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 6rem;
  min-height: 100vh;
}

.editorContainer {
  display: flex;
  width: 85vw;
  height: 40vh;
  gap: 0.5rem;
  justify-content: center;
  @media only screen and (max-width: $md-max) {
    display: block;
    position: relative;
    width: 85vw;
    padding: 0;
  }
}
